* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --text-color: #0a0a0a;
  --abu-color: #fafbff;
  --card-color: #fff;
  --accordion-color: #fff;
  --panel-color: #fff;
  --other-color: #ececec68;
}

[data-theme="dark"] {
  --primary-color: #000;
  --secondary-color: #fff;
  --text-color: #f3f4f5;
  --abu-color: #1018278b;
  --other-color: #1018278b;
  --panel-color: #1018278b;
  --card-color: #101827c4;
  --accordion-color: #303030db;
}

body {
  overflow-x: hidden;
}

/* STYLE NAVBAR */
.navbar {
  background-color: var(--primary-color);
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.navbar .navbar-brand {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: 1.7rem;
  font-weight: 700;
}

.navbar .navbar-brand span {
  color: #0c79f6;
}

.navbar .navbar-brand img {
  width: 55px;
  padding-bottom: 6px;
  padding-right: 5px;
}

.navbar .nav-link a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  padding-right: 20px;
}

.navbar .nav-link a:hover {
  color: #0c79f6;
}

.navbar .nav-link a.active {
  color: #0c79f6;
  font-weight: 700;
}

.navbar .navbar-toggler {
  background-color: #fff;
  border-radius: 4px;
}

.navbar .navbar-toggler:focus {
  visibility: hidden;
  border: none;
}

/* RESPONSIVE NAVBAR */
@media screen and (max-width: 992px) {
  .navbar .nav-link {
    padding-top: 50px;
  }
  .navbar .nav-link a {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .navbar .nav-link {
    padding-top: 30px;
  }
  .navbar .nav-link a {
    font-size: 18px;
  }
}

@media screen and (max-width: 325px) {
  .navbar .navbar-brand {
    font-size: 1.5rem;
  }
  .navbar .navbar-brand img {
    width: 50px;
  }
  .konsultasi {
    margin-bottom: 10px;
  }
}
/* RESPONSIVE NAVBAR */
/* STYLE NAVBAR */

/* STYLE DARK MODE */
.dark-mode {
  bottom: 20px;
  right: 20px;
  position: absolute;
  right: 60px;
  top: 16px;
}

.dark-mode-input {
  display: none;
}

.dark-mode label .ri-sun-line {
  font-size: 22px;
  color: #fff200;
  font-weight: 700;
  cursor: pointer;
}

.dark-mode label .ri-moon-line {
  font-size: 22px;
  color: #000914;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .dark-mode {
    right: 180px;
  }
  .dark-mode label .ri-sun-line,
  .dark-mode label .ri-moon-line {
    font-size: 28px;
  }
}
@media screen and (max-width: 825px) {
  .dark-mode {
    right: 150px;
  }
}
@media screen and (max-width: 450px) {
  .dark-mode {
    right: 85px;
    bottom: 21px;
  }
  .dark-mode label .ri-sun-line,
  .dark-mode label .ri-moon-line {
    font-size: 25px;
  }
}

/* STYLE DARK MODE */

.homepage,
.paket-page,
.order-page {
  background-color: var(--primary-color);
}

/* STYLE HOMEPAGAE HEADER */
.homepage .whatsapp-floating {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #009113;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage .whatsapp-floating:hover {
  background-color: #187100;
}

.homepage .whatsapp-floating i {
  color: #fff;
  font-size: 30px;
}

.homepage .header-box {
  padding-bottom: 140px;
}

.homepage .header-box h1 {
  color: var(--text-color);
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 400;
  padding-top: 200px;
}

.homepage .header-box h1 span {
  font-weight: 700;
  color: #0c79f6;
}

.homepage .header-box p {
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 20px;
  color: var(--text-color);
}

.homepage .header-box .konsultasi {
  border: none;
  padding: 10px 40px;
  border: 2px solid #5498e5;
  background: none;
  color: #5498e5;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  margin-right: 15px;
}
.homepage .header-box .konsultasi:hover {
  background: linear-gradient(230deg, #123277, #175fb3);
  transition: all 0.3s ease-in-out;
  color: #fff;
}

.homepage .header-box .create {
  border: none;
  padding: 12px 30px;
  background: linear-gradient(230deg, #123277, #175fb3);
  color: #fff;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 400;
}

.homepage .header-box .create:hover {
  background: linear-gradient(40deg, #123277, #175fb3);
}

.homepage .header-box .lottie {
  width: 120%;
  padding-top: 90px;
}

/* ------- RESPONSIVE HEADER -------- */
@media screen and (max-width: 992px) {
  .homepage .header-box {
    padding-bottom: 50px;
  }
  .homepage .header-box h1 {
    font-size: 2.5rem;
    padding-top: 150px;
  }
  .homepage .header-box .lottie {
    display: block;
    margin: auto;
    width: 100%;
    padding-top: 50px;
  }
  .homepage .whatsapp-floating {
    width: 80px;
    height: 80px;
  }
  .homepage .whatsapp-floating i {
    font-size: 40px;
  }
}

@media screen and (max-width: 450px) {
  .homepage .header-box h1 {
    padding-top: 130px;
  }
  .homepage .whatsapp-floating {
    width: 60px;
    height: 60px;
    bottom: 15px;
    right: 15px;
  }
  .homepage .whatsapp-floating i {
    font-size: 37px;
  }
}

@media screen and (max-width: 365px) {
  .homepage .header-box .konsultasi {
    padding: 10px 30px;
  }
  .homepage .header-box .create {
    padding: 12px 30px;
  }
}
/* ------- RESPONSIVE HEADER -------- */
/* STYLE HOMEPAGAE HEADER */

/* STYLE HOMEPAGE INFO PANEL */
.homepage .info-panel {
  text-align: center;
  background-color: var(--panel-color);
}

.homepage .info-panel img {
  width: 60px;
  padding-top: 20px;
}

.homepage .info-panel h4 {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px;
  color: var(--text-color);
}

.homepage .info-panel p {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0 10px;
  color: var(--text-color);
}

/* RESPONSIVE INFO PANEL */
/* RESPONSIVE INFO PANEL */

/* STYLE HOMEPAGE INFO PANEL */

/* STYLE HOMEPAGE PAKET */
.homepage .paket-website .row:nth-child(1) {
  padding-top: 80px;
  padding-bottom: 40px;
}

.homepage .paket-website .row:nth-child(1) h3 {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--secondary-color);
}

.homepage .paket-website .plan-card {
  background-color: var(--abu-color);
  border: 1px solid #0c79f64c;
  padding: 20px 20px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.homepage .paket-website .plan-card h4 {
  color: var(--text-color);
}
.homepage .paket-website .plan-card .desc {
  color: var(--text-color);
  font-weight: 400;
  font-size: 0.8rem;
}

.homepage .paket-website .etiquet-price {
  border-bottom: 1px solid #797979;
  width: 70%;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

.homepage .paket-website .etiquet-price span {
  font-weight: 300;
  color: var(--text-color);
}

.homepage .paket-website .etiquet-price p {
  color: #0c79f6;
  font-size: 2rem;
  font-weight: 500;
}

.homepage .paket-website .plan-card ul {
  padding: 30px 0;
}

.homepage .paket-website .plan-card ul li {
  list-style: none;
  color: var(--text-color);
  font-weight: 300;
  padding-top: 5px;
}

.homepage .paket-website .plan-card ul li i {
  color: #175fb3;
  padding: 20px;
  font-size: 1.2rem;
}

.homepage .paket-website .plan-card:hover {
  transform: translateY(-10px);
}

.homepage .paket-website .btn-order {
  border: none;
  padding: 10px 40px;
  text-align: center;
  display: block;
  margin: auto;
  border-radius: 5px;
  background: linear-gradient(40deg, #123277, #175fb3);
  color: #f3f4f5;
}

.homepage .paket-website .btn-order:hover {
  transform: scale(0.95);
}

.homepage .paket-website .row:nth-child(3) {
  padding-top: 80px;
  padding-bottom: 80px;
}

.homepage .paket-website .paket-lengkap {
  text-align: center;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 1.1rem;
  color: #f3f4f5;
  background: linear-gradient(40deg, #123277, #175fb3);
  border-radius: 5px;
  margin: auto;
}

.homepage .paket-website .paket-lengkap i {
  font-size: 24px;
  padding-left: 10px;
}

.homepage .paket-website .paket-lengkap:hover {
  transform: scale(0.95);
}

/* STYLE HOMEPAGE PAKET */

/* STYLE HOMEPAGE PENJELASAN */
.homepage .penjelasan .row:nth-child(1) {
  padding-top: 60px;
  padding-bottom: 70px;
}

.homepage .penjelasan .row:nth-child(1) h3 {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--secondary-color);
}

.homepage .penjelasan .row:nth-child(1) h3 span {
  color: #0c79f6;
  font-weight: 600;
}

.homepage .penjelasan .row:nth-child(1) p {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 10px;
  color: var(--text-color);
}

.homepage .penjelasan .row:nth-child(1) hr {
  width: 80%;
  margin: auto;
}

.homepage .penjelasan .card-box {
  background-color: var(--card-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.2);
  padding: 20px 30px;
}

.homepage .penjelasan .card-box:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.homepage .penjelasan .card-box h3 {
  font-size: 2.5rem;
  text-align: center;
  color: #0c79f6;
}

.homepage .penjelasan .card-box p {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  padding-top: 8px;
  color: var(--text-color);
}

.homepage .penjelasan-dua {
  padding-top: 70px;
}

.homepage .penjelasan-dua .row:nth-child(1) h3 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--secondary-color);
}

.homepage .penjelasan-dua .row:nth-child(1) .garis {
  width: 160px;
  height: 4px;
  border-radius: 8px;
  background-color: #ff7700;
  margin: auto;
}

.homepage .penjelasan-dua .row:nth-child(2) {
  padding-top: 70px;
}

.homepage .penjelasan-dua .row:nth-child(2) h5 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2;
  color: var(--text-color);
}

.homepage .penjelasan-dua .row:nth-child(2) li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
}

.homepage .penjelasan-dua .row:nth-child(2) li .list-icon {
  font-size: 24px;
  color: #ff7700;
  padding-right: 10px;
  font-weight: 700;
}

.homepage .penjelasan-dua .row:nth-child(2) li .list-text {
  font-size: 1rem;
  font-weight: 400;
  padding-top: 2px;
  line-height: 2;
  color: var(--text-color);
}

.homepage .penjelasan-dua img {
  width: 100%;
}

.homepage .penjelasan-dua .row:nth-child(3) {
  padding: 40px 50px;
  background-color: #123277;
  margin-top: 50px;
  border-radius: 16px;
}

.homepage .penjelasan-dua .row:nth-child(3) h5 {
  text-align: center;
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 10px;
}

.homepage .penjelasan-dua .row:nth-child(3) li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
}

.homepage .penjelasan-dua .row:nth-child(3) li .list-icon {
  font-size: 24px;
  padding-right: 10px;
  color: #fff;
  font-weight: 700;
}

.homepage .penjelasan-dua .row:nth-child(3) li .list-text {
  font-size: 1rem;
  font-weight: 300;
  padding-top: 5px;
  color: #fff;
}

.homepage .penjelasan-dua .row:nth-child(3) h4 {
  text-align: center;
  font-weight: 400;
  color: #fff;
  font-size: 1rem;
  padding-top: 70px;
  line-height: 1.5;
}

.homepage .penjelasan-dua hr {
  color: #fff;
  margin: auto;
}

.homepage .penjelasan-tiga {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: var(--abu-color);
  margin-top: 30px;
}

.homepage .penjelasan-tiga .row:nth-child(1) h3 {
  text-align: center;
  font-size: 2.2rem;
  color: #0c79f6;
  padding-bottom: 10px;
}

.homepage .penjelasan-tiga .row:nth-child(1) .garis {
  width: 170px;
  height: 4px;
  border-radius: 8px;
  background-color: #ff7700;
  margin: auto;
}

.homepage .penjelasan-tiga .row:nth-child(2) p {
  padding-top: 40px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color);
}

.homepage .penjelasan-tiga .row:nth-child(3) p {
  text-align: center;
  color: var(--text-color);
}

.homepage .penjelasan-empat {
  padding-top: 100px;
}

.homepage .penjelasan-empat .row:nth-child(1) h3 {
  text-align: center;
  color: var(--secondary-color);
  font-size: 2.2rem;
  font-weight: 500;
  padding-bottom: 10px;
}

.homepage .penjelasan-empat .row:nth-child(2) p {
  text-align: center;
  color: var(--secondary-color);
}

.homepage .penjelasan-empat .row:nth-child(2) p span {
  color: #0c79f6;
  font-weight: 500;
}

.homepage .penjelasan-empat .row:nth-child(3) {
  padding-top: 30px;
}

.homepage .penjelasan-empat .row:nth-child(3) p {
  color: var(--text-color);
}

.homepage .penjelasan-empat .row:nth-child(3) p i {
  font-size: 24px;
  padding-right: 10px;
  font-weight: 700;
  color: var(--text-color);
}

.homepage .penjelasan-empat .row:nth-child(4) p {
  padding-top: 30px;
  color: #0c79f6;
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
}

/* responsive penjelasan satu, dua, dan tiga */
@media screen and (max-width: 992px) {
  .mobile-order {
    order: -1;
  }
  .mobile-layanan {
    order: -1;
  }
}

@media screen and (max-width: 450px) {
  .homepage .penjelasan-dua .row:nth-child(3) {
    padding: 20px 30px;
  }
  .homepage .penjelasan-dua .row:nth-child(3) h5 {
    font-size: 1.1rem;
    text-align: left;
  }
  .homepage .penjelasan-dua .row:nth-child(3) h4 {
    text-align: left;
  }
}
/* responsive penjelasan satu, dua, dan tiga */

/* STYLE HOMEPAGE PENJELASAN */

/* STYLE HOMEPAGE LAYANAN-KAMI */
.homepage .layanan-kami .row:nth-child(1) {
  padding-top: 60px;
  padding-bottom: 50px;
}

.homepage .layanan-kami .row:nth-child(1) h3 {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--text-color);
}
.homepage .layanan-kami .container:nth-child(3) .toko-img {
  width: 100%;
  display: block;
  margin: auto;
}

.homepage .layanan-kami .container:nth-child(5) img {
  width: 90%;
  display: block;
  margin: auto;
}

.homepage .layanan-kami .container:nth-child(2) img,
.homepage .layanan-kami .container:nth-child(4) img {
  width: 70%;
  display: block;
  margin: auto;
}

.homepage .layanan-kami .container:nth-child(2) h5,
.homepage .layanan-kami .container:nth-child(3) h5,
.homepage .layanan-kami .container:nth-child(4) h5,
.homepage .layanan-kami .container:nth-child(5) h5 {
  font-size: 1.5rem;
  color: var(--text-color);
  padding-top: 50px;
}

.homepage .layanan-kami .container:nth-child(2) p,
.homepage .layanan-kami .container:nth-child(3) p,
.homepage .layanan-kami .container:nth-child(4) p,
.homepage .layanan-kami .container:nth-child(5) p {
  color: var(--text-color);
}

.homepage .layanan-kami .container:nth-child(2) li,
.homepage .layanan-kami .container:nth-child(3) li,
.homepage .layanan-kami .container:nth-child(4) li,
.homepage .layanan-kami .container:nth-child(5) li {
  color: var(--text-color);
  padding-top: 10px;
}

/* STYLE HOMEPAGE LAYANAN-KAMI */

/* STYLE HOMEPAGE BENEFIT */
.homepage .benefit .row:nth-child(1) {
  padding-top: 50px;
}
.homepage .benefit .row:nth-child(1) h3 {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--text-color);
}

.homepage .benefit .row:nth-child(1) p,
.homepage .benefit .row:nth-child(3) p {
  color: var(--text-color);
}

.benefit .benefit-box {
  padding: 20px;
  background-color: var(--card-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.2);
  margin-top: 20px;
  border-radius: 6px;
}

.benefit .benefit-box:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.homepage .benefit-box img {
  width: 80px;
  display: block;
  margin: auto;
  padding-bottom: 10px;
}

.benefit .benefit-box h5 {
  font-size: 1.2rem;
  color: var(--text-color);
  text-align: center;
}

.benefit .benefit-box p {
  color: var(--text-color);
  text-align: center;
  font-weight: 300;
}
/* STYLE HOMEPAGE BENEFIT */

/* STYLE HOMEPAGE PROMO */
.benefit {
  padding-bottom: 50px;
}

.homepage .all-fitur .row:nth-child(1) h3 {
  padding-top: 50px;
  font-size: 2.2rem;
  text-align: center;
  color: var(--text-color);
}

.homepage .all-fitur .row:nth-child(1) p {
  color: var(--text-color);
  padding-top: 10px;
  text-align: center;
  font-size: 1.1rem;
}

.homepage .all-fitur {
  background-color: var(--other-color);
}

.homepage .all-fitur .row:nth-child(2) {
  padding-bottom: 100px;
}

.homepage .all-fitur .row:nth-child(2) i {
  font-size: 20px;
  padding-right: 10px;
}

.homepage .all-fitur .row:nth-child(2) button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-left: 10px;
  margin-right: 20px;
  text-align: center;
  padding: 10px 10px;
  background-color: #009113;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

.homepage .all-fitur .row:nth-child(2) .email {
  background-color: #ff2121;
}

.homepage .all-fitur .row:nth-child(2) button:hover {
  transform: scale(0.9);
}

/* RESPONSIVE PROMO */
@media screen and (max-width: 450px) {
  .homepage .all-fitur .row:nth-child(1) h3,
  .homepage .all-fitur .row:nth-child(1) p {
    text-align: left;
  }
}
/* RESPONSIVE PROMO */

/* STYLE HOMEPAGE PROMO */

/* STYLE FOOTER */
footer {
  width: 100%;
  padding: 50px;
  background-color: var(--primary-color);
  display: block;
  margin: auto;
  border-top: 0.5px solid #c3c3c33c;
}

footer .footer-logo {
  display: flex;
  align-items: center;
}

footer .row:nth-child(1) h3 {
  color: var(--text-color);
  font-size: 1rem;
  padding-top: 20px;
  padding-left: 70px;
  padding-bottom: 15px;
}

footer .footer-logo img {
  width: 70px;
  padding-bottom: 22px;
}

footer h2 {
  font-size: 1.8rem;
  color: var(--text-color);
}

footer p {
  color: var(--text-color);
  font-weight: 400;
  padding-left: 70px;
  width: 500px;
}

footer .alamat,
footer .alamat-pt {
  display: flex;
}

footer .alamat-pt p,
footer .alamat p {
  padding-left: 0;
  padding-top: 4px;
}

footer .alamat i,
footer .alamat-pt i {
  padding-left: 70px;
  padding-right: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #0c79f6;
}

footer .row:nth-child(1) .garis-1 {
  width: 50px;
  height: 2px;
  background-color: #3a3a3a;
  margin-bottom: 10px;
}

footer li {
  list-style: none;
  padding-top: 10px;
}

footer li a:hover {
  color: #0c79f6;
}

footer h5 {
  color: var(--text-color);
  padding-top: 50px;
}

footer li a {
  text-decoration: none;
  color: var(--text-color);
}

footer .legal li {
  padding-top: 0;
}

footer .legal li {
  padding-bottom: 20px;
}

footer .row:nth-child(1) .kontak i {
  padding-right: 10px;
  font-weight: 500;
  font-size: 22px;
}

footer .row:nth-child(1) .kontak h6 {
  font-size: 1rem;
  font-weight: 400;
  padding-top: 10px;
  color: var(--text-color);
}

footer .row:nth-child(1) .sosial {
  color: var(--text-color);
  padding-top: 10px;
}

footer .row:nth-child(2) {
  margin-top: 70px;
}

footer .row:nth-child(2) h4 {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: var(--text-color);
}

/* RESPONSIVE FOOTER */
@media screen and (max-width: 992px) {
  footer h2 {
    padding-left: 0;
  }
  footer p {
    padding-left: 0;
    width: 100%;
  }
  footer .alamat i,
  footer .alamat-pt i {
    padding-left: 0;
  }
  footer .row:nth-child(1) h3 {
    padding-left: 0;
  }
}

@media screen and (max-width: 400px) {
  footer .row:nth-child(1) h3 {
    font-size: 14px;
  }
}
/* RESPONSIVE FOOTER */
/* STYLE FOOTER */

/* STYLE PAKETPAGE */
.paket-page {
  padding-bottom: 100px;
}

.paket-page h3 {
  padding-top: 100px;
  padding-bottom: 70px;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--text-color);
}

.paket-page .plan-card {
  background-color: var(--abu-color);
  border: 1px solid #0c79f64c;
  padding: 20px 20px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.paket-page .plan-card h4 {
  color: var(--text-color);
}

.paket-page .plan-card .desc {
  color: var(--text-color);
  font-weight: 400;
  font-size: 0.8rem;
}

.paket-page .etiquet-price {
  border-bottom: 1px solid #797979;
  width: 70%;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

.paket-page .etiquet-price span {
  font-weight: 300;
  color: var(--text-color);
}

.paket-page .etiquet-price p {
  color: #0c79f6;
  font-size: 2rem;
  font-weight: 500;
}

.paket-page .plan-card ul {
  padding: 30px 0px;
}

.paket-page .plan-card ul li {
  list-style: none;
  color: var(--text-color);
  font-weight: 300;
  padding-top: 8px;
}

.paket-page .plan-card ul li i {
  color: #175fb3;
  padding: 20px;
  font-size: 1.2rem;
}

.paket-page .plan-card:hover {
  transform: translateY(-10px);
}

.paket-page .btn-order {
  border: none;
  padding: 10px 40px;
  text-align: center;
  display: block;
  margin: auto;
  border-radius: 5px;
  background: linear-gradient(40deg, #123277, #175fb3);
  color: #f3f4f5;
}

.paket-page .btn-order:hover {
  transform: scale(0.95);
}

.paket-page .container:nth-child(2) {
  padding-top: 50px;
}

.paket-page .container:nth-child(2) .col:nth-child(1) {
  background-color: #123277;
  padding: 40px;
  border-radius: 10px;
}

.paket-page .container:nth-child(2) .row:nth-child(1) p {
  color: #f3f4f5;
  font-weight: 300;
  text-align: center;
  padding-bottom: 20px;
  line-height: 1.8;
}

.paket-page .container:nth-child(2) .row:nth-child(1) button {
  border: none;
  padding: 10px 40px;
  text-align: center;
  display: block;
  margin: auto;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  color: #000;
}

.paket-page .container:nth-child(2) .row:nth-child(1) button:hover {
  transform: scale(0.95);
}

.paket-page .container:nth-child(3) {
  padding-top: 50px;
}

.paket-page .container:nth-child(3) h4 {
  color: var(--text-color);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.7rem;
}

.paket-page .container:nth-child(3) p {
  color: var(--text-color);
  font-weight: 300;
}

.paket-page .container:nth-child(3) p span {
  font-style: italic;
  font-weight: 400;
}

@media screen and (max-width: 450px) {
  .paket-page .container:nth-child(2) .col:nth-child(1) {
    padding: 25px;
  }
  .paket-page .container:nth-child(2) .col:nth-child(1) p {
    text-align: left;
  }
  .paket-page .container:nth-child(3) h4 {
    font-size: 1.4rem;
  }
}

/* STYLE PAKETPAGE */

/* STYLE ORDER-PAGE */
.order-page {
  padding-bottom: 100px;
  padding-top: 120px;
}

.full-data img {
  width: 100px;
}

.full-data {
  display: flex;
  align-items: center;
  background-color: var(--abu-color);
  padding: 20px;
  border-radius: 8px;
}

.order-page .row:nth-child(2) .ringkasan {
  padding: 20px;
  border-radius: 8px;
  background-color: var(--abu-color);
  color: var(--text-color);
  /* width: 23%; */
  /* position: absolute; */
}

.order-page .ringkasan h3 {
  padding-bottom: 30px;
}

.ringkasan h4 {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-color);
  padding-bottom: 10px;
  padding-left: 4px;
}

.order-page .ringkasan h5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-page .ringkasan h5 {
  padding-top: 10px;
  font-size: 1rem;
  font-weight: 400;
}

.order-page .ringkasan span {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1rem;
}

.order-page .form-data {
  background-color: var(--abu-color);
  padding: 30px;
  border-radius: 8px;
}

.order-page .row:nth-child(1) h3 {
  font-size: 1.1rem;
  padding-left: 20px;
  font-weight: 400;
  color: var(--text-color);
}

.order-page .row:nth-child(1) p {
  font-size: 0.8rem;
  padding-left: 20px;
  color: var(--text-color);
  font-weight: 300;
}

.form-data h4 {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-color);
}

.order-page .row:nth-child(2) .col:nth-child(1) {
  background: var(--abu-color);
  padding: 25px;
  border-radius: 8px;
}

.order-page .row:nth-child(2) form label {
  margin-top: 10px;
  width: 200px;
  color: var(--text-color);
  font-weight: 400;
}

.order-page .row:nth-child(2) form input {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  background: none;
  border: 1px solid #5252526e;
  margin-top: 50px;
  color: var(--text-color);
}

input::placeholder {
  font-size: 14px;
  opacity: 70%;
}

.order-page .ringkasan .lanjut-bayar {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #ff7418;
  color: #f3f4f5;
  width: 100%;
  margin-top: 20px;
}

.order-page .ringkasan .lanjut-bayar:hover {
  background: #e3630d;
}

.order-page .row:nth-child(3) p {
  color: var(--text-color);
  font-weight: 300;
}

.order-page .row:nth-child(3) p span {
  color: var(--text-color);
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .order-page .row:nth-child(1) .ringkasan {
    position: relative;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .order-page .row:nth-child(2) form input {
    width: 100%;
    margin-top: 14px;
  }
  .order-page .row:nth-child(2) form label {
    width: 100%;
    margin-top: 40px;
    font-size: 15px;
  }
  .order-page .row:nth-child(1) {
    display: grid;
  }
  .order-page .row:nth-child(1) .ringkasan {
    position: relative;
    width: 100%;
  }
  .full-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .full-data img {
    width: 100px;
    padding-bottom: 20px;
    margin-left: 20px;
  }
}

/* STYLE ORDER-PAGE */

/* STYLE ABOUT PAGE */
.about-page {
  background-color: var(--primary-color);
  padding-bottom: 70px;
  overflow-x: hidden;
}

.about-page h3 {
  padding-top: 150px;
  padding-bottom: 100px;
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--text-color);
  text-align: center;
  background-color: var(--other-color);
}

.about-page h5 {
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.3rem;
  padding-top: 50px;
}

.about-page p {
  color: var(--text-color);
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.about-page p span {
  color: var(--text-color);
  font-weight: 400;
}

.about-page .row:nth-child(3) {
  padding: 50px;
  background-color: #123277;
  border-radius: 20px;
  margin-top: 50px;
}

.about-page .row:nth-child(3) p {
  color: #f3f4f5;
  font-weight: 300;
  text-align: center;
  padding-top: 20px;
}

.about-page h4 {
  color: #f3f4f5;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
}

.about-page .row:nth-child(2) {
  padding-top: 70px;
}

.about-page .row:nth-child(2) h1 {
  text-align: center;
  color: var(--text-color);
  padding-bottom: 20px;
}

.about-page .row:nth-child(2) p {
  text-align: center;
  color: var(--text-color);
}

.about-page .row:nth-child(4) {
  padding-top: 70px;
}

.about-page .row:nth-child(4) h6 {
  color: var(--text-color);
  text-align: center;
  font-weight: 600;
  font-size: 1.8rem;
}

.about-page .row:nth-child(4) h6 span {
  color: #0c79f6;
}

.about-page .row:nth-child(4) p {
  text-align: center;
  color: var(--text-color);
  font-weight: 400;
  font-size: 0.9rem;
}

.about-page .row:nth-child(5) {
  padding-top: 60px;
}

.about-page .about-card {
  padding: 30px;
  height: 170px;
  background-color: var(--abu-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.2);
  border-radius: 6px;
}

.about-page .about-card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.4);
}

.about-page .about-card h2 {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}

.about-page .about-card h6 {
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

/* RESPONSIVE ABOUT PAGE */
@media screen and (max-width: 450px) {
  .about-page .row:nth-child(3) {
    padding: 20px;
  }
  .about-page .row:nth-child(3) p {
    text-align: left;
  }
  .about-page h4 {
    padding-top: 30px;
  }
}
/* RESPONSIVE ABOUT PAGE */
/* STYLE ABOUT PAGE */

/* STYLE FAQ */
.faq-page {
  padding-bottom: 100px;
  background-color: var(--primary-color);
}

.faq h3 {
  color: var(--text-color);
  padding-top: 48px;
  padding-bottom: 30px;
  font-weight: 500;
}

.faq .accordion .accordion-button {
  font-weight: 500;
  background-color: var(--accordion-color);
  color: var(--text-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.1);
}

.faq .accordion .accordion-button:focus {
  border: none;
  box-shadow: none;
}

.faq .accordion .accordion-body {
  background-color: var(--accordion-color);
  color: var(--text-color);
  font-weight: 300;
}

.faq-page .row:nth-child(1) {
  padding-top: 100px;
}

.faq-page img {
  width: 70%;
  padding-top: 50px;
  display: block;
  margin: auto;
}

.faq-page h1 {
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--text-color);
}

.faq-page h6 {
  color: var(--text-color);
  font-weight: 300;
}

@media screen and (max-width: 992px) {
  .faq-page img {
    width: 100%;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-top: 50px;
  }
  .faq-page h1,
  .faq-page h6 {
    text-align: center;
  }
  .faq h3 {
    padding-top: 0;
  }
}

/* STYLE FAQ */

/* STYLE TUTORIAL */
.tutorial {
  background-color: var(--primary-color);
  padding-top: 150px;
  padding-bottom: 100px;
}
.tutorial h1 {
  font-weight: 500;
  color: var(--text-color);
}

.tutorial h6 {
  font-weight: 300;
  color: var(--text-color);
}

.tutorial img {
  width: 450px;
  display: block;
  margin: auto;
}

.tutorial .row:nth-child(1) h3 {
  color: var(--text-color);
}

.tutorial .container:nth-child(2) {
  padding-top: 120px;
  padding-bottom: 50px;
}

.tutorial .pesan-dari-website {
  background-color: var(--abu-color);
  max-width: 900px;
  min-height: 500px;
  margin: auto;
}

.tutorial .pesan-dari-website img {
  width: 700px;
  padding: 20px;
  display: block;
  margin: auto;
}

.tutorial .text-atas {
  background-color: #d5d5d543;
}

.tutorial .text-atas h5 {
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: 400;
}

.tutorial p {
  color: var(--text-color);
  font-weight: 300;
}

.tutorial p span {
  color: var(--text-color);
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .tutorial img {
    width: 100%;
  }
  .tutorial h1,
  .tutorial h6 {
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .tutorial .pesan-dari-website {
    min-height: 320px;
  }
  .tutorial .pesan-dari-website img {
    width: 100%;
  }
}
/* STYLE TUTORIAL */

/* STYLE SYARAT KETENTUAN PAGE */
.syarat-ketentuan {
  padding-bottom: 100px;
  background-color: var(--primary-color);
  overflow-x: hidden;
}

.syarat-ketentuan .row:nth-child(1) h3 {
  padding-top: 150px;
  background-color: var(--other-color);
  padding-bottom: 100px;
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--text-color);
  text-align: center;
}

.syarat-ketentuan h6 {
  color: var(--text-color);
  font-size: 1.1rem;
}

.syarat-ketentuan ul {
  list-style: none;
}

.syarat-ketentuan ul li {
  color: var(--text-color);
  font-weight: 300;
  padding-top: 20px;
}
.syarat-ketentuan ol li {
  color: var(--text-color);
  font-weight: 300;
  padding-top: 20px;
}

.syarat-ketentuan .judul-kecil {
  font-size: 1rem;
  font-weight: 400;
  list-style: none;
  color: var(--text-color);
}

.syarat-ketentuan p {
  color: var(--text-color);
  font-weight: 300;
  padding-top: 10px;
}
/* STYLE SYARAT KETENTUAN PAGE */

/* STYLE PRIVACY POLICY */
.privacy-policy {
  padding-bottom: 100px;
  padding-top: 120px;
  background-color: var(--primary-color);
}

.privacy-policy h3 {
  font-size: 1.9rem;
  font-weight: 500;
  color: var(--text-color);
}

.privacy-policy h5 {
  color: var(--text-color);
  font-weight: 500;
}

.privacy-policy p {
  color: var(--text-color);
  font-weight: 300;
}

.privacy-policy li {
  color: var(--text-color);
  font-weight: 300;
}
/* STYLE PRIVACY POLICY */

/* STYLE ERROR PAGE */

.eror {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.eror h1 {
  color: rgb(255, 87, 87);
  font-weight: 500;
}

.eror button {
  padding: 10px 50px;
  border-radius: 5px;
  border: none;
  background: rgb(255, 17, 37);
  transition: all 0.2s ease-in-out;
}

.eror button:hover {
  background: rgb(212, 23, 23);
  transform: scale(1.1);
}

.eror button a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.1rem;
}

/* STYLE ERROR PAGE */
